.formInput {
    background: none;
    background-color: white;
    color: gray;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid lightgray;
    margin: 25px 0;
}

.formInput:focus {
    outline: none;
}

.formInputLabel {
    color: gray;
    font-size: 16px;
    font-weight: normal;
    pointer-events: none;
}
