.navbar {
    background-color: #ecb22e;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigationItems {
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.header {
    cursor: pointer;
}
