.container {
    width: 50vw;
    margin: 0 auto;
}

.actionBar {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
}
